.helpPage {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: max(100%, 700px);
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.topBar {
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: rgb(99, 37, 233);
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 0;
}

.topBar #title {
    color: white;
    font-style: bold;
    font-size: x-large;
    margin-top: 1.5%;
}

.topBar .back-btn {
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    width: 5%;
    height: 75px;
    font-size: x-large;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

.faq {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 5rem 15em;
    margin-bottom: 1%;
    margin-top: 100px;
}

.faq #image {
    width: 100%;
    height: 155px;
    background-color: gray;
    border-radius: 0.6rem;
}

.faq .rows {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.faq .row .columns {
    flex-direction: column;
}

.titles {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

#yourOrders {
    margin: 0rem 10em;
}

#otherQs {
    margin-left: 5%;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.contact #question {
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.contact #call {
    margin-top: 0.5%;
}